@charset "UTF-8";
* {
  box-sizing: border-box;
}

.container {
  max-width: 1671px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 320px;
  }
}

@font-face {
  font-family: 'Russo One';
  src: url("../fonts/RussoOne-Regular.eot");
  src: url("../fonts/RussoOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 auto;
}

body img {
  max-width: 100%;
}

body .input:hover {
  border: 1px solid white;
}

body .button:hover {
  cursor: pointer;
}

.header_1 {
  position: absolute;
  width: 1154px;
  height: 84px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  color: #1D1C21;
}

.header_2 {
  position: absolute;
  width: 516px;
  height: 86px;
  left: 1400px;
  top: 424px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #1D1C21;
}

.header_3 {
  position: absolute;
  width: 188px;
  height: 35px;
  left: 1400px;
  top: 586px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #1D1C21;
}

.header_4 {
  position: absolute;
  width: 175px;
  height: 29px;
  left: 1400px;
  top: 748px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1D1C21;
}

.p_1 {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #1D1C21;
}

.p_2 {
  width: 272px;
  height: 72px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #1D1C21;
}

.main {
  background: #f1f1f1 url("../img/header/bg.jpg") no-repeat center;
  background-size: cover;
  width: 1920px;
  height: 1100px;
  position: relative;
}

.header {
  padding-top: 29px;
}

.header__navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__navbar__phone {
  margin-right: 30px;
  width: 138px;
  height: 24px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #F9F9FB;
}

.header__navbar__button {
  margin-right: 60px;
  width: 160px;
  height: 40px;
  background: #C80A2C;
  border-radius: 40px;
  color: white;
  font-family: 'Circe', sans-serif;
}

.header__navbar__vector {
  width: 1921px;
  height: 0px;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header__navbar__title {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin-right: auto;
}

.header__navbar__subtitle {
  width: 179px;
  height: 5px;
  background: #C80A38;
  margin-top: 29px;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button {
  display: flex;
  flex-direction: column;
}

.menu-button__line {
  width: 33px;
  margin-top: 5px;
  height: 3px;
  background: #FFFFFF;
}

.hero {
  position: relative;
  padding-top: 170px;
}

.hero__slider-count {
  position: absolute;
  width: 17px;
  height: 27px;
  left: 1845px;
  top: 240px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
}

.hero__slider-slide {
  position: absolute;
  width: 125px;
  height: 5px;
  left: 1793px;
  top: 328px;
  background: #C80A2C;
  transform: rotate(90deg);
}

.hero__slider-rest {
  position: absolute;
  width: 377px;
  height: 0px;
  left: 1667px;
  top: 459px;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}

.hero__slider-count1 {
  position: absolute;
  width: 20px;
  height: 27px;
  left: 1846px;
  top: 651px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
  opacity: 0.2;
}

.hero__logo {
  position: absolute;
  width: 720px;
  height: 720px;
  left: 945px;
  top: 18px;
  background: url("../img/hero/logo-new.png");
  opacity: 0.8;
}

.hero__title {
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__text {
  width: 540px;
  height: 81px;
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
}

.hero__form__arrows {
  width: 42px;
  height: 12px;
}

.hero__form__input {
  margin-top: 46px;
  margin-right: 20px;
  width: 220px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  background: radial-gradient(50% 50% at 50% 50%, rgba(29, 28, 33, 0.85) 0%, #1D1C21 100%);
}

.hero__form__input__phone {
  left: 395px;
  top: 475px;
  position: absolute;
  text-decoration: none;
  font-family: 'Circe', sans-serif;
  user-select: none;
}

.hero__form__input__text {
  text-decoration: none;
  position: absolute;
  top: 475px;
  left: 160px;
  font-family: 'Circe', sans-serif;
  user-select: none;
}

.hero__form__input:focus {
  outline: none;
  border: 1px solid red;
}

.hero__form__button {
  margin-top: 30px;
  width: 457px;
  height: 50px;
  background: #C80A2C;
  border-radius: 40px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero__form__prevArrow {
  margin-top: 60px;
  margin-right: 44px;
  display: inline-block;
  opacity: 0.5;
}

.hero__form__nextArrow {
  display: inline-block;
  color: #FFFFFF;
}

body input:focus {
  border: 2px solid red;
}

.bottom {
  margin-top: 216px;
}

.bottom-block {
  display: flex;
}

.bottom__social__text {
  color: #F9F9FB;
  margin-right: 8px;
}

.bottom__social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.bottom__social__img {
  padding: 10px;
}

.bottom__stock1 {
  position: absolute;
  left: 785px;
  bottom: 0px;
}

.bottom__stock2 {
  position: absolute;
  left: 1163px;
  bottom: 0px;
}

.bottom__stock3 {
  position: absolute;
  left: 1542px;
  bottom: 0px;
}

.bottom__text1 {
  position: absolute;
  left: 825px;
  bottom: 95px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.bottom__text2 {
  position: absolute;
  left: 1204px;
  bottom: 95px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.bottom__text3 {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  position: absolute;
  left: 1582px;
  bottom: 95px;
}

.bottom__vector {
  position: absolute;
  width: 378px;
  height: 5px;
  left: -796px;
  top: -78px;
  z-index: 99;
  background: #C80A2C;
  transform: rotate(-180deg);
}

.bottom__rectangle {
  z-index: 99;
  position: absolute;
  width: 1110px;
  height: 140px;
  left: 405px;
  top: 1905px;
  border: 5px solid #C80A2C;
  box-sizing: border-box;
}

.equipment {
  width: 1920px;
  height: 1219px;
  background: url(../img/equipment/equipment_bg.png);
}

.equipment-div {
  display: block;
  border: 4px solid red;
  text-align: center;
  width: 200px;
  height: 20px;
}

.equipment-title__img1 {
  z-index: 11;
  position: absolute;
  width: 1746px;
  height: 241px;
  left: 87px;
  top: 1158px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #1D1C21;
}

.equipment-title__img2 {
  z-index: 9;
  position: absolute;
  width: 1746px;
  height: 241px;
  left: 87px;
  top: 1158px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #C80A2C;
  opacity: 0.25;
  filter: blur(20px);
}

.equipment-bottom {
  margin-top: 60px;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  margin-left: 200px;
}

.equipment-bottom__img {
  position: absolute;
  width: 350px;
  height: 140px;
  left: 405px;
  top: 1905px;
  background: url(kisspng-certified-personal-trainer-exercise-physical-fitne-personal-training-endure-fitness-carnforth-5b816905e54667.8154667015352076859391.png);
  z-index: 88;
}

.equipment-bottom_img {
  z-index: 9;
  position: absolute;
  width: 350px;
  height: 140px;
  left: 405px;
  top: 1905px;
  background: url(kisspng-certified-personal-trainer-exercise-physical-fitne-personal-training-endure-fitness-carnforth-5b816905e54667.8154667015352076859391.png);
}

.equipment-bottom__text {
  position: absolute;
  width: 402px;
  height: 35px;
  left: 825px;
  top: 1956px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.equipment-bottom__button {
  position: absolute;
  width: 160px;
  height: 40px;
  left: 1290px;
  top: 1955px;
  padding-top: 8px;
  background: #C80A2C;
  border-radius: 40px;
  text-align: center;
}

.equipment-block_img1 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 405px;
  top: 1411px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-4.jpg);
}

.equipment-block_img2 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 785px;
  top: 1411px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-22.jpg);
}

.equipment-block_img3 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 1165px;
  top: 1411px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-3.jpg);
}

.equipment-block_img4 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 405px;
  top: 1643px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-5.jpg);
}

.equipment-block_img5 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 785px;
  top: 1643px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(88191381_2497790683659224_880341843252871168_o.jpg);
}

.equipment-block_img6 {
  position: absolute;
  width: 350px;
  height: 202px;
  left: 1165px;
  top: 1643px;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(beautiful-little-girl-is-engaged-gym_1157-29917.jpg);
}

.equipment-block__text1 {
  position: absolute;
  width: 188px;
  height: 35px;
  left: 445px;
  top: 1451px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.equipment-block__text2 {
  position: absolute;
  width: 270px;
  height: 35px;
  left: 825px;
  top: 1451px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.equipment-block__text3 {
  position: absolute;
  width: 241px;
  height: 35px;
  left: 1205px;
  top: 1451px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #C80A2C;
}

.equipment-block__text4 {
  position: absolute;
  width: 242px;
  height: 35px;
  left: 445px;
  top: 1683px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.equipment-block__text5 {
  position: absolute;
  width: 245px;
  height: 35px;
  left: 825px;
  top: 1683px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.equipment-block__text6 {
  position: absolute;
  width: 234px;
  height: 35px;
  left: 1205px;
  top: 1683px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #C80A2C;
}

.equipment-block__subtext {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 0px;
  top: 0px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext1 {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 445px;
  top: 1501px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext2 {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 825px;
  top: 1501px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext3 {
  position: absolute;
  width: 272px;
  height: 48px;
  left: 1205px;
  top: 1501px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext4 {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 445px;
  top: 1733px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext5 {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 825px;
  top: 1733px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__subtext6 {
  position: absolute;
  width: 272px;
  height: 72px;
  left: 1205px;
  top: 1733px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.equipment-block__numbers {
  position: absolute;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #F9F9FB;
}

.equipment-block__numbers1 {
  position: absolute;
  width: 21px;
  height: 22px;
  left: 725px;
  top: 1420px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__numbers2 {
  position: absolute;
  width: 24px;
  height: 22px;
  left: 1103px;
  top: 1420px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__numbers3 {
  position: absolute;
  width: 25px;
  height: 22px;
  left: 1483px;
  top: 1420px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__numbers4 {
  position: absolute;
  width: 25px;
  height: 22px;
  left: 723px;
  top: 1652px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__numbers5 {
  position: absolute;
  width: 24px;
  height: 22px;
  left: 1103px;
  top: 1652px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__numbers6 {
  position: absolute;
  width: 25px;
  height: 22px;
  left: 1483px;
  top: 1652px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #F9F9FB;
}

.equipment-block__rectangle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 715px;
  top: 1411px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-block__rectangle2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1095px;
  top: 1411px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-block__rectangle3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1475px;
  top: 1411px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-block__rectangle4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 715px;
  top: 1643px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-block__rectangle5 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1095px;
  top: 1643px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-block__rectangle6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1475px;
  top: 1643px;
  background: rgba(255, 255, 255, 0.1);
}

.equipment-header {
  position: absolute;
  width: 516px;
  height: 86px;
  left: 702px;
  top: 1220px;
  z-index: 99;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.big {
  width: 1920px;
  height: 8200px;
  position: relative;
  background-color: #1C1B20;
}

.photos {
  width: 1920px;
  height: 1369px;
  background-color: #1D1C21;
}

.photos-subtitle {
  position: absolute;
  width: 516px;
  height: 86px;
  left: 405px;
  top: 2437px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 99;
}

.photos-subtitle2 {
  /* За неделю в наших клубах */
  position: absolute;
  width: 585px;
  height: 43px;
  left: 405px;
  top: 3293px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 99;
}

.photos-title__img1 {
  font-family: 'Russo One', sans-serif;
  position: absolute;
  left: 112px;
  top: 2377px;
  font-family: Russo One;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #1D1C21;
}

.photos-title__img11 {
  position: absolute;
  width: 1304px;
  height: 241px;
  left: 308px;
  top: 3206px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: #1D1C21;
}

.photos-title__img2 {
  position: absolute;
  left: 112px;
  top: 2377px;
  font-family: Gill Sans Extrabold;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #C80A2C;
  opacity: 0.25;
  filter: blur(20px);
  font-family: 'Russo One', sans-serif;
}

.photos-title__img22 {
  position: absolute;
  width: 1304px;
  height: 241px;
  left: 308px;
  top: 3206px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #C80A2C;
  opacity: 0.25;
  filter: blur(20px);
}

.photos-block__text {
  position: absolute;
  width: 255px;
  height: 216px;
  left: 405px;
  top: 2628px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.photos-block__slider1 {
  /* Rectangle 180 */
  position: absolute;
  width: 540px;
  height: 260px;
  left: 405px;
  top: 2913px;
  background: linear-gradient(180deg, rgba(29, 28, 33, 0.5) 0%, rgba(29, 28, 33, 0.5) 100%), url(thumb_50_default_big.jpg);
}

.photos-block__slider2 {
  /* Rectangle 179 */
  position: absolute;
  width: 825px;
  height: 460px;
  left: 690px;
  top: 2628px;
  background: url(121261769_3062194777218809_3703897325459069680_o.jpg);
  filter: drop-shadow(0px 7px 40px rgba(200, 10, 44, 0.6));
}

.photos-bottom__text1 {
  /* 476 ккал */
  position: absolute;
  left: 405px;
  top: 3441px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #C80A2C;
}

.photos-bottom__text2 {
  /* 144 подростка */
  position: absolute;
  left: 690px;
  top: 3441px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #C80A2C;
}

.photos-bottom__text3 {
  /* 25 кг */
  position: absolute;
  left: 975px;
  top: 3441px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #C80A2C;
}

.photos-bottom__text4 {
  /* 33,3к тонны */
  position: absolute;
  left: 1260px;
  top: 3441px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #C80A2C;
}

.photos-bottom__vector1 {
  /* Line 72 */
  position: absolute;
  width: 254px;
  height: 0px;
  left: 405px;
  top: 3499px;
}

.photos-bottom__vector2 {
  /* Line 80 */
  position: absolute;
  width: 254px;
  height: 0px;
  left: 690px;
  top: 3499px;
}

.photos-bottom__vector3 {
  /* Line 81 */
  position: absolute;
  width: 254px;
  height: 0px;
  left: 975px;
  top: 3499px;
}

.photos-bottom__vector4 {
  /* Line 82 */
  position: absolute;
  width: 254px;
  height: 0px;
  left: 1260px;
  top: 3499px;
}

.photos-bottom__subtext1 {
  /* сжигаются за час при нахождении в воде */
  position: absolute;
  width: 254px;
  height: 48px;
  left: 405px;
  top: 3519px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.photos-bottom__subtext2 {
  /* выбирают бассейн любимым видом активного спорта */
  position: absolute;
  width: 254px;
  height: 48px;
  left: 690px;
  top: 3519px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.photos-bottom__subtext3 {
  /* составляет рост мышечной массы наших клиентов */
  position: absolute;
  width: 254px;
  height: 48px;
  left: 975px;
  top: 3519px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.photos-bottom__subtext4 {
  /* суммарно поднимают все клиенты */
  position: absolute;
  width: 254px;
  height: 24px;
  left: 1260px;
  top: 3519px;
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #F9F9FB;
}

.coaches {
  background: url(../img/coaches/bg_coaches.png);
  width: 1920px;
  height: 794px;
}

.coaches-subtitle {
  /* Тренеры фитнес-центра */
  position: absolute;
  width: 551px;
  height: 43px;
  left: 405px;
  top: 3683px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  z-index: 99;
  color: #FFFFFF;
}

.coaches-title__img2 {
  /* наша Команда */
  position: absolute;
  width: 1738px;
  height: 241px;
  left: 91px;
  top: 3596px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #1D1C21;
}

.coaches-title__img1 {
  position: absolute;
  width: 1738px;
  height: 241px;
  left: 91px;
  top: 3596px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #C80A2C;
  opacity: 0.25;
  filter: blur(20px);
}

.coaches-block__img1 {
  /* Rectangle 191 */
  position: absolute;
  width: 255px;
  height: 341px;
  left: 405px;
  top: 3831px;
  background: linear-gradient(180deg, rgba(200, 10, 44, 0) 12.5%, rgba(200, 10, 44, 0.3) 85.42%, rgba(200, 10, 44, 0.5) 100%), url(1.jpg);
}

.coaches-block__img2 {
  /* Rectangle 195 */
  position: absolute;
  width: 255px;
  height: 341px;
  left: 690px;
  top: 3831px;
  background: linear-gradient(180deg, rgba(29, 28, 33, 0.4) 11.46%, rgba(29, 28, 33, 0.8) 85.42%, #1D1C21 100%), url(111.jpg);
  box-shadow: 0px 7px 40px rgba(200, 10, 44, 0.6);
}

.coaches-block__img3 {
  /* Rectangle 199 */
  position: absolute;
  width: 255px;
  height: 341px;
  left: 975px;
  top: 3831px;
  background: linear-gradient(180deg, rgba(200, 10, 44, 0) 7.81%, rgba(200, 10, 44, 0.3) 85.42%, rgba(200, 10, 44, 0.5) 100%), url(11.jpg);
}

.coaches-block__img4 {
  /* Rectangle 203 */
  position: absolute;
  width: 255px;
  height: 341px;
  left: 1260px;
  top: 3831px;
  background: linear-gradient(180deg, rgba(200, 10, 44, 0) 14.58%, rgba(200, 10, 44, 0.3) 85.42%, rgba(200, 10, 44, 0.5) 100%), url(1111.jpg);
}

.coaches-block__logo1 {
  /* Rectangle 192 */
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 148px;
  left: 630px;
  top: 3831px;
  background: #C80A2C;
}

.coaches-block__logo2 {
  /* Rectangle 196 */
  position: absolute;
  width: 30px;
  height: 148px;
  left: 915px;
  top: 3831px;
  background: #C80A2C;
}

.coaches-block__logo3 {
  /* Rectangle 200 */
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 148px;
  left: 1200px;
  top: 3831px;
  background: #C80A2C;
}

.coaches-block__logo4 {
  /* Rectangle 204 */
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 148px;
  left: 1485px;
  top: 3831px;
  background: #C80A2C;
}

.coaches-block__logo__text1 {
  z-index: 99;
  position: absolute;
  width: 118px;
  height: 16px;
  left: 636px;
  top: 3964px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #F9F9FB;
  transform: rotate(-90deg);
}

.coaches-block__logo__text2 {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 921px;
  top: 3964px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #F9F9FB;
  transform: rotate(-90deg);
}

.coaches-block__logo__text3 {
  /* Тренажерный зал */
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1206px;
  top: 3964px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #F9F9FB;
  transform: rotate(-90deg);
}

.coaches-block__logo__text4 {
  /* PowerClass */
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1491px;
  top: 3964px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #F9F9FB;
  transform: rotate(-90deg);
}

.subscription {
  width: 1920px;
  height: 1369px;
  background-color: #1D1C21;
}

.subscription-title__img1 {
  /* абонементы */
  position: absolute;
  width: 1479px;
  height: 241px;
  left: 221px;
  top: 4400px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #1D1C21;
}

.subscription-title__img2 {
  /* абонементы */
  position: absolute;
  width: 1479px;
  height: 241px;
  left: 221px;
  top: 4400px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 241px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #C80A2C;
  opacity: 0.25;
  filter: blur(20px);
}

.subscription-subtitle {
  position: absolute;
  width: 551px;
  height: 43px;
  left: 405px;
  top: 4477px;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 99;
}

.subscription-subtitle_sub {
  /* и получи расчет стоимости */
  position: absolute;
  width: 242px;
  height: 29px;
  left: 405px;
  top: 4520px;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #F9F9FB;
  z-index: 99;
}
/*# sourceMappingURL=style.css.map */