.bottom
    
    margin-top: 216px
    &-block
        display: flex
    &__social__text
        color: #F9F9FB;
        margin-right: 8px
    &__social
        display: inline-block
        width: 40px;
        height: 40px;
        margin-left: 10px
        border: 1px solid rgba(255,255,255,0.2);

        &__img
            padding: 10px
    &__stock1
        position: absolute
        left: 785px
        bottom: 0px
    &__stock2
        position: absolute
        left: 1163px
        bottom: 0px
    &__stock3
        position: absolute
        left: 1542px
        bottom: 0px
    &__text1
        position: absolute
        left: 825px
        bottom: 95px
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    &__text2
        position: absolute
        left: 1204px
        bottom: 95px
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    &__text3
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        position: absolute
        left: 1582px
        bottom: 95px
        