.equipment
    &-div
        display: block
        border: 4px solid red
        text-align: center
        width: 200px
        height: 20px
    width: 1920px
    height: 1219px
    background: url(../img/equipment/equipment_bg.png)
    &-subtitle
    &-title__img1
        z-index: 11

        position: absolute;
        width: 1746px;
        height: 241px;
        left: 87px;
        top: 1158px;

        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 200px;
        line-height: 241px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #1D1C21;

    &-title__img2
        z-index: 9
        position: absolute;
        width: 1746px;
        height: 241px;
        left: 87px;
        top: 1158px;

        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 200px;
        line-height: 241px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;

        color: #C80A2C;

        opacity: 0.25;
        filter: blur(20px);
    &-bottom
        margin-top: 60px
        display: flex
        width: 1100px
        justify-content: space-between
        margin-left: 200px
        &__img
            position: absolute;
            width: 350px;
            height: 140px;
            left: 405px;
            top: 1905px;

            background: url(kisspng-certified-personal-trainer-exercise-physical-fitne-personal-training-endure-fitness-carnforth-5b816905e54667.8154667015352076859391.png);

            z-index: 88
        &_img
            z-index: 9
            position: absolute

            width: 350px;
            height: 140px;
            left: 405px;
            top: 1905px;

            background: url(kisspng-certified-personal-trainer-exercise-physical-fitne-personal-training-endure-fitness-carnforth-5b816905e54667.8154667015352076859391.png);

        &__text
            position: absolute;
            width: 402px;
            height: 35px;
            left: 825px;
            top: 1956px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #F9F9FB;
        &__button
            position: absolute;
            width: 160px;
            height: 40px;
            left: 1290px;
            top: 1955px;
            padding-top: 8px
            background: #C80A2C;
            border-radius: 40px;
            text-align: center
    &-block



        &_img1  
            position: absolute;
            width: 350px;
            height: 202px;
            left: 405px;
            top: 1411px;
            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-4.jpg);
        &_img2  
            position: absolute;
            width: 350px;
            height: 202px;
            left: 785px;
            top: 1411px;

            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-22.jpg);
        &_img3 
            position: absolute;
            width: 350px;
            height: 202px;
            left: 1165px;
            top: 1411px;

            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-3.jpg);
        &_img4 
            position: absolute;
            width: 350px;
            height: 202px;
            left: 405px;
            top: 1643px;

            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(s-5.jpg);
        &_img5 
            position: absolute;
            width: 350px;
            height: 202px;
            left: 785px;
            top: 1643px;

            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(88191381_2497790683659224_880341843252871168_o.jpg);

        &_img6 
            position: absolute;
            width: 350px;
            height: 202px;
            left: 1165px;
            top: 1643px;

            background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(beautiful-little-girl-is-engaged-gym_1157-29917.jpg);

        
        &__text1
            position: absolute;
            width: 188px;
            height: 35px;
            left: 445px;
            top: 1451px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #F9F9FB;

        &__text2
            position: absolute;
            width: 270px;
            height: 35px;
            left: 825px;
            top: 1451px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #F9F9FB;
        &__text3


            position: absolute;
            width: 241px;
            height: 35px;
            left: 1205px;
            top: 1451px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #C80A2C;


        &__text4


            position: absolute;
            width: 242px;
            height: 35px;
            left: 445px;
            top: 1683px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #F9F9FB;


        &__text5
            position: absolute;
            width: 245px;
            height: 35px;
            left: 825px;
            top: 1683px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #F9F9FB;
        &__text6
            position: absolute;
            width: 234px;
            height: 35px;
            left: 1205px;
            top: 1683px;

            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;

            color: #C80A2C;

        &__subtext
            position: absolute;
            width: 272px;
            height: 72px;
            left: 0px;
            top: 0px;
            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;
            color: #F9F9FB;
        &__subtext1
            position: absolute;
            width: 272px;
            height: 72px;
            left: 445px;
            top: 1501px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;

        &__subtext2
            position: absolute;
            width: 272px;
            height: 72px;
            left: 825px;
            top: 1501px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;
        &__subtext3
            position: absolute;
            width: 272px;
            height: 48px;
            left: 1205px;
            top: 1501px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;
        &__subtext4
            position: absolute;
            width: 272px;
            height: 72px;
            left: 445px;
            top: 1733px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;

        &__subtext5
            position: absolute;
            width: 272px;
            height: 72px;
            left: 825px;
            top: 1733px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;
        &__subtext6
            position: absolute;
            width: 272px;
            height: 72px;
            left: 1205px;
            top: 1733px;

            font-family: Circe;
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #F9F9FB;
        &__numbers
            position: absolute;
            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #F9F9FB;
        &__numbers1
            position: absolute;
            width: 21px;
            height: 22px;
            left: 725px;
            top: 1420px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__numbers2
            position: absolute;
            width: 24px;
            height: 22px;
            left: 1103px;
            top: 1420px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__numbers3
            position: absolute;
            width: 25px;
            height: 22px;
            left: 1483px;
            top: 1420px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__numbers4
            position: absolute;
            width: 25px;
            height: 22px;
            left: 723px;
            top: 1652px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__numbers5
            position: absolute;
            width: 24px;
            height: 22px;
            left: 1103px;
            top: 1652px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__numbers6
            position: absolute;
            width: 25px;
            height: 22px;
            left: 1483px;
            top: 1652px;

            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-align: center;

            color: #F9F9FB;
        &__rectangle1
            position: absolute;
            width: 40px;
            height: 40px;
            left: 715px;
            top: 1411px;

            background: rgba(255, 255, 255, 0.1);
        &__rectangle2
            position: absolute;
            width: 40px;
            height: 40px;
            left: 1095px;
            top: 1411px;

            background: rgba(255, 255, 255, 0.1);
        &__rectangle3
            position: absolute;
            width: 40px;
            height: 40px;
            left: 1475px;
            top: 1411px;

            background: rgba(255, 255, 255, 0.1);
        &__rectangle4
            position: absolute;
            width: 40px;
            height: 40px;
            left: 715px;
            top: 1643px;

            background: rgba(255, 255, 255, 0.1);
        &__rectangle5
            position: absolute;
            width: 40px;
            height: 40px;
            left: 1095px;
            top: 1643px;

            background: rgba(255, 255, 255, 0.1);
        &__rectangle6
            position: absolute;
            width: 40px;
            height: 40px;
            left: 1475px;
            top: 1643px;

            background: rgba(255, 255, 255, 0.1);
    &-header
        position: absolute;
        width: 516px;
        height: 86px;
        left: 702px;
        top: 1220px;
        z-index: 99
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
